<section class = "column">
  <div class = "center">
<% @group = Group.where("id = ?", @group_id).first %>
<div class = "titleposi">
<h1><%= @group.name %></h1>
</div>
<p><%= simple_format(@group.about) %></p>


<% @member = Member.where("group_id = ?", @group_id).where("user_id = ?", current_user.id).first %>
<% @group = Group.where("id = ?", @group_id).first %>

<p>
<% if ( @member == nil ) && ( @group.master_id != current_user.id ) then %>

<%= link_to "申請する", "/members/applicate/#{@group_id}", data:{confirm: "「#{@group.name}」への参加を申請しますか?"} ,class:"cross_line"%>

<% elsif ( @group.master_id != current_user.id ) && ( @member.p == 0 ) then %>

<p>現在「<%= @group.name %>」への参加を申請中です。</p>
<p>管理者の承認をお待ちください。</p>
<p><%= link_to "申請を取り消す", "/groups/delete_member/#{@group_id}", data:{confirm: "「#{@group.name}」への申請を取り消しますか?"},class: "cross_line"%>

<% else %>

<% if current_user.state_group_id == -1 || current_user.state_group_id == nil %>
  <%= link_to "入場する", "/groups/top/#{@group.id}" ,class: "cross_line"%>
<% else %>
  <% @g = Group.where("id = ?", current_user.state_group_id).first %>
  <% if @group.id == current_user.state_group_id %>
    <%= link_to "入場する", "/groups/top/#{@group.id}" ,class: "cross_line"%>
  <% else %>
    <%= link_to "入場する", "/groups/top/#{@group.id}", data:{confirm:"現在「#{@g.name}」にログインしています。\n「#{@g.name}」をログアウトしますか?"},class: "cross_line"%>
  <% end %>
<% end %>

<% end %>
</p>

</section>
