<section class = "column">
<div class = "titleposi">
  <h1>
  Calendar
</h1>
</div>
</section>
<% today = @day %>

  <table align="center" frame="border" rules="all">
    <caption>
    <ul class = "menu">

      <li><%= link_to "#{Date.today.months_ago(6).strftime('%-m')}月","-6",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_ago(5).strftime('%-m')}月","-5",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_ago(4).strftime('%-m')}月","-4",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_ago(3).strftime('%-m')}月","-3",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_ago(2).strftime('%-m')}月","-2",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.last_month.strftime('%-m')}月","-1",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.strftime('%-m')}月","0",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.next_month.strftime('%m')}月","1",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_since(2).strftime('%-m')}月","2",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_since(3).strftime('%-m')}月","3",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_since(4).strftime('%-m')}月","4",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_since(5).strftime('%-m')}月","5",class: "linkline"%></li>

    </ul>
    <h1><%= today.strftime("%Y年%-m月") %></h1>
    <%= link_to 'Add New Event!', '/events/new',class: "link_btn" %>
    </caption>
    <tr>
      <th width="80" height="50" bgcolor="#ffe8ff"><font color="red">日</font></th>
      <th width="80" height="50">月</th>
      <th width="80" height="50">火</th>
      <th width="80" height="50">水</th>
      <th width="80" height="50">木</th>
      <th width="80" height="50">金</th>
      <th width="80" height="50" bgcolor="#afeeee"><font color="blue">土</font></th>
    </tr>
    <% month = today.strftime('%m')%>
    <% d = today.at_beginning_of_month.at_beginning_of_week(:sunday)%>
    <% 1.upto(6).each do|i|%>
    <tr>
      <% (d..d.end_of_week(:sunday)).each do|c|%>
      <th width="80" height="80" align="left" valign="top">
	<font size="3">

          <!-- 日付の表示 -->
	    <% if (c.strftime('%m') == month) then %>
            <% if (c.strftime("%d") != today.strftime("%-d")) || (c.strftime("%m") != Date.today.strftime("%m"))%>
              <%= link_to "#{c.strftime('%-d')}", events_index_path(:year => c.strftime('%Y'), :month => c.strftime("%m"), :day => c.strftime("%d")),class:"linkline" %>
	    <% else %>
              <%= link_to "#{c.strftime('%-d')}", events_index_path(:year => c.strftime('%Y'), :month => c.strftime("%m"), :day => c.strftime("%d")),class: "linkline" %>
              <font color="red">▼</font>
	          <% end %>
            <% @users.each do |u| %>
            <% if ((c.strftime("%-m").to_i == u.month.to_i) && (c.strftime("%-d").to_i == u.day.to_i)) then %>
              <% @tmp = Member.where("user_id = ?", u.id).where("group_id = ?", current_user.state_group_id).first %>
              <% @tmp2 = Group.where("master_id = ?", u.id).first %><!--団体の管理者-->
              <% @tmp3 = Group.where("id = ?", current_user.state_group_id).first %>
	        <% if u.id == current_user.id || (@tmp2 != nil && @tmp2.id == current_user.state_group_id) || @tmp != nil then %>
                <br><font size="1"><%= u.username %>さんの誕生日</font><br />
              <% else %>
	            <% end %>
            <% else %>
            <% end %>
            <% end %>
          <% else %>
            <%= "  " %>
          <% end %>
	  </font>
        <br><font size="2">

	  <!-- イベントの表示 -->

	  <% if current_user.state_group_id != -1 then %>

            <% @events.each do |e| %>
              <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>

                <% if e.title.length <= 9 %>
                  <%= link_to "#{e.title}", "/events/show/#{e.id}" %><br />
                <% else %>
	        <% @tmp = e.title.split(/\A(.{1,7})/, 2) %>
                <% @title = @tmp[1] + "..." %>
                <%= link_to @title, "/events/show/#{e.id}" %><br />
                <% end %>

              <% else %>
              <% end %>
            <% end %>

	  <% else %>

            <% @my_groups = Member.where("user_id = ?", current_user.id).where("p = ?", 1) %>
            <% @my_groups.each do |g| %>

              <% @my_events = Event.where("group_id = ?", g.group_id) %>
              <% @my_group = Group.where("master_id = ?", current_user.id) %>

              <!-- 自分が管理している団体のイベントの表示 -->
              <!-- each -->
	      <% @my_group.each do |g| %>
                <% @my_group_events = Event.where("group_id = ?", g.id) %>
                <% @my_group_events.each do |e| %>
                  <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>
                    <% if e.title.length <= 9 %>
                      <%= link_to "#{e.title}", "/events/show/#{e.id}" %><br />
                    <% else %>
                      <% @tmp = e.title.split(/\A(.{1,7})/, 2) %>
                      <% @title = @tmp[1] + "..." %>
                      <%= link_to @title, "/events/show/#{e.id}" %><br />
                    <% end %>
                  <% else %>
                  <% end %>
	        <% end %>
              <% end %>
              <!-- each -->

	      <!-- 自分が所属している団体のイベントの表示 -->
              <!-- each -->
	      <% @my_events.each do |e| %>
                <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>
                <% if e.title.length <= 9 %>
                  <%= link_to "#{e.title}", "/events/show/#{e.id}" %><br />
                <% else %>
                  <% @tmp = e.title.split(/\A(.{1,7})/, 2) %>
                  <% @title = @tmp[1] + "..." %>
                  <%= link_to @title, "/events/show/#{e.id}" %><br />
                <% end %>
                <% else %>
                <% end %>
              <% end %>
              <!-- each -->

	      <!-- ログアウト中に作成したイベントの表示 -->
              <% @myev = Event.where("user_id = ?", current_user.id).where("group_id = ?", -1) %>
              <!-- each -->
              <% @myev.each do |e| %>
                <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>
                  <% if e.title.length <= 9 %>
                    <%= link_to "#{e.title}", "/events/show/#{e.id}" %><br />
                  <% else %>
                    <% @tmp = e.title.split(/\A(.{1,7})/, 2) %>
                    <% @title = @tmp[1] + "..." %>
                    <%= link_to @title, "/events/show/#{e.id}" %><br />
                  <% end %>
                <% else %>
                <% end %>
              <% end %>
              <!-- each -->

            <% end %>

          <% end %>

	</br></font>
	<% end %>
      </th>
    </tr>
    <% d = d + 1.week %>
    <% end %>
  </table>
<br/>
