<section class = "column">
<div class = "titleposi">
  <h1>Calendar</h1>
</div>
</section>
<% today = @day %>

  <table align="center" frame="border" rules="all">
    <caption>
    <ul class = "menu">
      <li><%= link_to "#{Date.today.months_ago(6).strftime('%-m')}月","-6",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_ago(5).strftime('%-m')}月","-5",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_ago(4).strftime('%-m')}月","-4",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_ago(3).strftime('%-m')}月","-3",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_ago(2).strftime('%-m')}月","-2",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.last_month.strftime('%-m')}月","-1",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.strftime('%-m')}月","0",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.next_month.strftime('%m')}月","1",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_since(2).strftime('%-m')}月","2",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_since(3).strftime('%-m')}月","3",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_since(4).strftime('%-m')}月","4",class: "linkline"%></li>
      <li><%= link_to "#{Date.today.months_since(5).strftime('%-m')}月","5",class: "linkline"%></li>
    </ul>
    <h1><%= today.strftime("%Y年%-m月") %></h1>
    <%= link_to 'Add New Event!', '/events/new',class: "link_btn" %>
    </caption>
    <tr>
      <th width="80" height="50" bgcolor="#ffe8ff"><font color="red">日</font></th>
      <th width="80" height="50">月</th>
      <th width="80" height="50">火</th>
      <th width="80" height="50">水</th>
      <th width="80" height="50">木</th>
      <th width="80" height="50">金</th>
      <th width="80" height="50" bgcolor="#afeeee"><font color="blue">土</font></th>
    </tr>
    <% month = today.strftime('%m')%>
    <% d = today.at_beginning_of_month.at_beginning_of_week(:sunday)%>
    <% 1.upto(6).each do|i|%>
    <tr>
      <% (d..d.end_of_week(:sunday)).each do|c|%>
      <th width="80" height="80" align="left" valign="top">
	<font size="3">

          <!-- 日付の表示 -->
	    <% if (c.strftime('%m') == month) then %>
            <% if (c.strftime("%d") != today.strftime("%-d")) || (c.strftime("%m") != Date.today.strftime("%m"))%>
              <%= link_to "#{c.strftime('%-d')}", events_index_path(:year => c.strftime('%Y'), :month => c.strftime("%m"), :day => c.strftime("%d")),class:"linkline" %>
	    <% else %>
              <%= link_to "#{c.strftime('%-d')}", events_index_path(:year => c.strftime('%Y'), :month => c.strftime("%m"), :day => c.strftime("%d")),class: "linkline" %>
              <font color="red">▼</font>
	          <% end %>
            <% @users.each do |u| %>
            <% if ((c.strftime("%-m").to_i == u.month.to_i) && (c.strftime("%-d").to_i == u.day.to_i)) then %>
              <% @tmp = Member.where("user_id = ?", u.id).where("group_id = ?", current_user.state_group_id).first %>
              <% @tmp2 = Group.where("master_id = ?", u.id).first %><!--団体の管理者-->
              <% @tmp3 = Group.where("id = ?", current_user.state_group_id).first %>
	        <% if u.id == current_user.id || (@tmp2 != nil && @tmp2.id == current_user.state_group_id) || @tmp != nil then %>
                <br><font size="1"><%= u.username %>さんの誕生日</font><br />
              <% else %>
	            <% end %>
            <% else %>
            <% end %>
            <% end %>
          <% else %>
            <%= "  " %>
          <% end %>
	  </font>
        <br><font size="2">

	  <!-- イベントの表示 -->

	  <% if current_user.state_group_id != -1 then %><!-- 団体にログインしている状態 -->

	  <!-- 一ヶ月分のイベントだけ取り出す -->
	  <% @ev = Event.where("group_id = ?", current_user.state_group_id).where("month = ?", today.strftime('%m'))%>

            <% @ev.each do |e| %>
              <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>

                <% if e.title.length <= 9 %>
                  <%= link_to "#{e.title}", "/events/show/#{e.id}" ,class: "linkline3"%><br />
                <% else %>
	        <% @tmp = e.title.split(/\A(.{1,7})/, 2) %>
                <% @title = @tmp[1] + "..." %>
                <%= link_to @title, "/events/show/#{e.id}" ,class: "linkline3"%><br />
                <% end %>

              <% else %>
              <% end %>
            <% end %>

	  <% else %><!-- 団体にログインしていない状態 -->

	    <!-- 自分がログアウト中に作成したイベント -->
            <% @e = Event.where("user_id = ?", current_user.id).where("group_id = ?", -1).where("month = ?", today.strftime('%m')) %>
	    <% @e.each do |e| %>
              <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>
                <% if e.title.length <= 9 %>
                  <%= link_to "#{e.title}", "/events/show/#{e.id}" ,class: "linkline3"%><br /><!-- 作成 -->
                <% else %>
                  <% @tmp = e.title.split(/\A(.{1,7})/, 2) %>
                  <% @title = @tmp[1] + "..." %>
                  <%= link_to @title, "/events/show/#{e.id}" ,class: "linkline3"%><br />
                <% end %>
              <% else %>
              <% end %>
            <% end %>

	    <!-- 自分が管理する団体のイベント-->
	    <% @m_g = Group.where("master_id = ?", current_user.id) %>
	    <% @m_g.each do |g| %>

	      <% @m_g_e = Event.where("group_id = ?", g.id).where("month = ?", today.strftime('%m')) %>
	      <% @m_g_e.each do |e| %>
                <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>
                  <% if e.title.length <= 9 %>
                    <%= link_to "#{e.title}", "/events/show/#{e.id}" ,class: "linkline3"%><br /><!-- 管理 -->
                  <% else %>
                    <% @tmp = e.title.split(/\A(.{1,7})/, 2) %>
                    <% @title = @tmp[1] + "..." %>
                    <%= link_to @title, "/events/show/#{e.id}" ,class: "linkline3"%><br />
                  <% end %>
                <% else %>
                <% end %>
              <% end %>

	    <% end %>

	    <!-- 自分が所属する団体のイベント -->
	    <% @m = Member.where("user_id = ?", current_user.id).where("p = ?", 1) %>
	    <% @m.each do |m| %>

	      <% @mem_g_e = Event.where("group_id = ?", m.group_id).where("month = ?", today.strftime('%m')) %>
	      <% @mem_g_e.each do |e| %>
	      <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>
	        <% if e.title.length <= 9 %>
                    <%= link_to "#{e.title}", "/events/show/#{e.id}" ,class: "linkline3"%><br /><!-- 所属 -->
                  <% else %>
                    <% @tmp = e.title.split(/\A(.{1,7})/, 2) %>
                    <% @title = @tmp[1] + "..." %>
                    <%= link_to @title, "/events/show/#{e.id}" ,class: "linkline3"%><br />
                  <% end %>
                <% else %>
                <% end %>
              <% end %>

	    <% end %>

          <% end %>

	</br></font>
	<% end %>
      </th>
    </tr>
    <% d = d + 1.week %>
    <% end %>
  </table>
<br/>
