<section class = "column">
  <div class = "titleposi">
<h1><%= @event.title %></h1>
  </div>
<% @group = Group.where("id = ?", @event.group_id).first%>
<% if @group != nil then %>
<h2>団体名: </h2><%= @group.name %>
<% end %>

<h2>日時: </h2><%= @event.year %>/<%= @event.month %>/<%= @event.date %>
<h2>本文:</h2> <%= simple_format(@event.about) %>

<% @user = User.where("id = ?", @event.user_id).first %>
<h2>投稿者: </h2><%= link_to @user.username, "/users/#{@event.user_id}" ,class: "linkline"%>

<% @i = 0 %>
<% @f = 0 %>
<h2>出席状況:</h2>
<% @attend.each do |a| %>
  <% @i = @i + 1 %>
  <% if a.user_id == current_user.id then %>
    <%= "出席" %>
    <% @f = @f + 1 %>
  <% else %>
  <% end %>
<% end%>

<% if @f == 0 then %>
<%= "欠席" %>
<% else %>
<% end %>


<h2>出席者数:</h2> <%= @i %>人

<% if @group != nil then %>
<% if @group.master_id == current_user.id || @event.user_id == current_user.id %>
<h2>出席者:</h2>
<ul>
<% @attend.each do |a| %>

<% @user = User.where("id = ?", a.user_id).first %>
<li><%= @user.username %></li>
<% end %>
</ul>
<% end %>
<% end %>
<br><br>
<% if @f == 0 then %>
<%= link_to "出席する", "/events/attend/#{@event.id}.to_i" ,class: "button" %>
<br>

<% else%>

<%= link_to "欠席する", "/events/absence/#{@event.id}.to_i" ,class: "button"%>
<br>
<% end %>
<% if @event.user_id == current_user.id then %>
<br><br><br>
<%= link_to image_tag("edit_bb.png",class: "edit_bb"), "/events/edit/#{@event.id}" %>
<br><br><br>
<h4 align = "center">
<%= link_to "このイベントを削除する", "/events/delete/#{@event.id}", data: { confirm: "「#{@event.title}」を削除しますか?"},class: "cross_line", align: "center" %>
</h4>



<% end %>
<br>
</section>
