<h2>Event</h2>
<p>title: <%= @event.title %><p>
<p>date: <%= @event.year %>/<%= @event.month %>/<%= @event.date %></p>
<p>about: <%= simple_format(@event.about) %></p>
<p>username: <%= @event.username%></p>
<% @i = 0 %>
<% @f = 0 %>
<p>state: 
<% @attend.each do |a| %>
  <% @i = @i + 1 %>
  <% if a.username == current_user.username then %>
    <%= "attend" %>
    <% @f = @f + 1 %>
  <% else %>
  <% end %>
<% end%>

<% if @f == 0 then %>
<%= "absence" %>
<% else %>
<% end %>

</p>
<p>attend: <%= @i %></p>
<% if @f == 0 then %>
<%= link_to "[出席]", "/events/attend/#{@event.id}.to_i" %>
[欠席]
<% else%>
[出席]
<%= link_to "[欠席]", "/events/absence/#{@event.id}.to_i" %>
<% end %>
<% if @event.username == current_user.username then %>
<p>
<%= link_to "[削除]", "/events/delete/#{@event.id}", data: { confirm: 'Sure?'} %>
<%= link_to "[編集]", "/events/edit/#{@event.id}" %>
</p>
<% else %>
<p>[削除・編集できません]</p>
<% end %>
