<h2>Edit Event</h2>
<p>title:</p><p><%= @event.title %><p>
<p>date:</p><p><%= @event.year %>/<%= @event.month %>/<%= @event.date %></p>
<p>about:</p><p><%= simple_format(@event.about) %></p>
<p>username:</p><%= @event.username%></p>
<p><%= link_to "[削除]", "/events/delete/#{@event.id}", data: { confirm: 'Sure?'} %></p>
