<section class = "column">
  <div class = "titleposi">
<h1><%= @event.title %></h1>
  </div>
<% @group = Group.where("id = ?", @event.group_id).first%>
<% if @group != nil then %>
<p>団体名: 「<%= @group.name %>」</p>
<% end %>

<p>日時: <%= @event.year %>/<%= @event.month %>/<%= @event.date %></p>
<p>本文: <%= simple_format(@event.about) %></p>

<% @user = User.where("id = ?", @event.user_id).first %>
<p>投稿者: <%= link_to @user.username, "/users/#{@event.user_id}" %></p>

<% @i = 0 %>
<% @f = 0 %>
<p>出席状況:
<% @attend.each do |a| %>
  <% @i = @i + 1 %>
  <% if a.user_id == current_user.id then %>
    <%= "出席" %>
    <% @f = @f + 1 %>
  <% else %>
  <% end %>
<% end%>

<% if @f == 0 then %>
<%= "欠席" %>
<% else %>
<% end %>

</p>
<p>出席者数: <%= @i %>人</p>

<% if @group != nil then %>
<% if @group.master_id == current_user.id || @event.user_id == current_user.id %>
<p>出席者:</p>
<ul>
<% @attend.each do |a| %>

<% @user = User.where("id = ?", a.user_id).first %>
<li><%= @user.username %></li>
<% end %>
</ul>
<% end %>
<% end %>

<% if @f == 0 then %>
<%= link_to "[出席]", "/events/attend/#{@event.id}.to_i" %>
[欠席]
<% else%>
[出席]
<%= link_to "[欠席]", "/events/absence/#{@event.id}.to_i" %>
<% end %>
<% if @event.user_id == current_user.id then %>
<p>
<%= link_to "[削除]", "/events/delete/#{@event.id}", data: { confirm: "「#{@event.title}」を削除しますか?"} %>
<%= link_to "[編集]", "/events/edit/#{@event.id}" %>
</p>
<% else %>
<p>[削除・編集できません]</p>
<% end %>
</section>
