<%= link_to 'EXIT', '/events/exit' ,class: "logout"%>

<section class = "column">

<% @group = Group.where("id = ?", current_user.state_group_id).first %>
<div class = "titleposi">
<h1><%= @group.name %></h1>
</div>

  <h1>
    Information
  </h1>

  <%= link_to 'Add New!', new_post_path, class: "link_btn"%>
  <div class = "box_scrollbar">
      <p>
        <ul class = "board">

          <% @posts = Post.where("group_id = ?", current_user.state_group_id).order(updated_at: 'desc') %>
            <% @posts.each do |post| %>
            <li>
              <%= post.updated_at.strftime('%Y/%m/%d %H:%M') %>
              <br>
              <font size = "5"><%= link_to post.title, post_path(post) %></font>
            </li>
            <% end %>
        </ul>
      </p>
  </div>
  <%= render "posts/member"%>
</section>
