<div class = "dropposi">
  <ul id = "fade-in2" class="dropmenu">
    <li><%= image_tag('edit_b.png', class: 'edit_b') %>
      <ul>
        <li><%= link_to "Profile",current_user%></li>
        <li><%= link_to "Edit",edit_user_registration_path%></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete%></li>
      </ul>
    </li>
  </ul>
</div>
  <br>
  <br>

  <h1 align = "center">
    <% @user = User.where("id = ?", current_user.id).first %>
    <%= link_to @user.username ,current_user,class: "prolink"%>
  </h1>

  <div class = "profile">
    <% if current_user.image? %>
      <%= link_to image_tag(current_user.image.url), current_user %>
    <% else %>
      <%= link_to image_tag('apio.png', :size => '100x100'), current_user %>
    <% end %>

    <h2>
      自己紹介
    </h2>
    </div>
    <div class ="center">
    <% @user = User.where("id = ?", current_user.id).first %>
    <% if @user.comment.empty? %>
      <%= link_to "自己紹介を書きましょう", user_root_path ,class: "linkline3"%>
    <% else%>
      <%= simple_format @user.comment %>
    <% end %>
    </div>

    <br>
  <div class = "profile">
    <h2>
      団体一覧
    </h2>

    <% @group = Group.where("master_id = ?", current_user.id) %>
    <% @group.each do |p| %>
    <li style = list-style:circle>
      <% if p.id == current_user.state_group_id %>
        <!--<p><%= link_to p.name, "/groups/top/#{p.id}" ,class: "statecolor" %></p>-->
	       <p><font color="hotpink"><%= p.name %>◀︎︎</font></p>
      <% else %>
        <p><%= link_to p.name, "/groups/out_top/#{p.id}" ,class: "linkline"%></p>
      <% end %>
    </li>
    <% end %>

    <% @member = Member.where("user_id = ?", current_user.id).where("p = ?", 1 ) %>
    <% @member.each do |p| %>
      <% @group2 = Group.where("id = ?", p.group_id).first%>
      <li style = list-style:circle>
        <% if @group2.id == current_user.state_group_id %>
          <p><%= link_to @group2.name, "/groups/top/#{@group2.id}" ,class: "statecolor" %></p>
        <% else %>
          <p><%= link_to @group2.name, "/groups/out_top/#{@group2.id}" ,class: "linkline"%></p>
        <% end %>
      </li>
      <% end%>

    <br>
    <br>
  </div>
