<div class = "dropposi">
  <ul id = "fade-in2" class="dropmenu">
    <li><%= image_tag('edit_b.png', class: 'edit_b') %>
      <ul>
        <li><%= link_to "Manage","/groups/my_group"%></li>
        <li><%= link_to "Edit",edit_user_registration_path%></li>
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete%></li>
      </ul>
    </li>
  </ul>
</div>
  <br>
  <br>

  <h1 align = "center">
    <% @user = User.where("id = ?", current_user.id).first %>
    <%= link_to @user.username ,current_user,class: "memberlink"%>
  </h1>

  <div class = "profile">
    <% if current_user.image? %>
      <%= link_to image_tag(current_user.image.url), current_user %>
    <% else %>
      <%= link_to image_tag('apio.png', :size => '100x100'), current_user %>
    <% end %>

    <h2>
      自己紹介
    </h2>
    <% @user = User.where("id = ?", current_user.id).first %>
    <%= simple_format @user.comment %>

    <h2>
      所属団体
    </h2>
    <% @group = Group.where("master_id = ?", current_user.id) %>
    <% @group.each do |p| %>
    <li style = list-style:circle>
      <% if p.id == current_user.state_group_id %>
        <p><%= link_to p.name, "/groups/top/#{p.id}" ,class: "statecolor" %></p>
      <% else %>
        <p><%= link_to p.name, "/groups/out_top/#{p.id}" ,class: "linkline"%></p>
      <% end %>
    </li>
    <% end %>

    <% @member = Member.where("user_id = ?", current_user.id).where("p = ?", 1 ) %>
    <% @member.each do |p| %>
    <% @group = Group.where("id = ?", p.group_id).first%>
    <li style = list-style:circle>
      <% if @group.id == current_user.state_group_id %>
        <p><%= link_to @group.name, "/groups/top/#{@group.id}" ,class: "statecolor" %></p>
      <% else %>
        <p><%= link_to @group.name, "/groups/out_top/#{@group.id}" ,class: "linkline"%></p>
      <% end %>
    </li>
    <% end%>

</div>
