<div class = "pagebody">

  <div class = "pagebodymain">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class: 'logout'%>
  <section class = "column">
    <h2>
      <h1>
        イベント・お知らせ
      </h1>
    <ul>
      <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post) %>
        <%= link_to '[Edit]', edit_post_path(post), class: 'command' %>
        <%= link_to '[x]',
        post_path(post),
        method: :delete,
        class: 'command',
        data: { confirm: 'Sure?' } %>
      </li>
      <% end %>
    </ul>
    <%= link_to 'Add New', new_post_path%>
    <p><%= link_to 'Create New Event', 'events/new'%></p>
   </h2>
 </section>
 <% today = Date.today%>
 <table align="center">
   <caption><%= today.strftime('%Y年%m月')%></caption>
   <tr>
     <th width="10" height="20"><font color="red">日</font></th>
     <th width="10" height="20">月</th>
     <th width="10" height="20">火</th>
     <th width="10" height="20">水</th>
     <th width="10" height="20">木</th>
     <th width="10" height="20">金</th>
     <th width="10" height="20"><font color="blue">土</font></th>
   </tr>
   <tr>
 <% month = today.strftime('%m')%>
 <% d = today.at_beginning_of_month.at_beginning_of_week(:sunday)%>
 <% 1.upto(5).each do|i|%>
   <tr>
 <% (d..d.end_of_week(:sunday)).each do|c|%>
     <th width="50" height="50"><font size="1"><%= (c.strftime('%m') == month)? c.strftime('%d'): "  "%></font>
     <br><font size="1">
     <% @events.each do |e| %>
     <!--<a href=""><%= ( (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) )? e.title : "  "%></a>-->
     <% if (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) then %>
     <%= link_to "#{e.title}", "events/show/#{e.id}" %>
     <% else %>
     <% end %>
     <% end %>
     </br></font></th>
 <% end %>
   </tr>
 <% d = d + 1.week %>
 <% end %>
 </table>

 </div>
 <div class = "pagebodysub">

   <h1>
     profile
   </h1>
   <%= link_to image_tag('apio.jpg', class: 'apio') %>
   <%= link_to 'Edit', edit_user_registration_path %>
</div>

<% today = Date.today%>
<table align="center">
  <caption><%= link_to "◀︎", " "%><%= today.strftime('%Y年%m月')%><%= link_to "▶︎", " "%></caption>
  <tr>
    <th width="10" height="20"><font color="red">日</font></th>
    <th width="10" height="20">月</th>
    <th width="10" height="20">火</th>
    <th width="10" height="20">水</th>
    <th width="10" height="20">木</th>
    <th width="10" height="20">金</th>
    <th width="10" height="20"><font color="blue">土</font></th>
  </tr>
  <tr>
<% month = today.strftime('%m')%>
<% d = today.at_beginning_of_month.at_beginning_of_week(:sunday)%>
<% 1.upto(5).each do|i|%>
  <tr>
<% (d..d.end_of_week(:sunday)).each do|c|%>
    <th width="50" height="50"><font size="1"><%= (c.strftime('%m') == month)? c.strftime('%d'): "  "%></font>
    <br><font size="1">
    <% @events.each do |e| %>
    <!--<a href=""><%= ( (c.strftime('%m') == e.month) && (c.strftime('%d') == e.date) )? e.title : "  "%></a>-->
    <% if (c.strftime('%m').to_i == e.month.to_i) && (c.strftime('%d').to_i == e.date.to_i) then %>
    <%= link_to "#{e.title}", "events/show/#{e.id}" %>
    <% else %>
    <% end %>
    <% end %>
    </br></font></th>
<% end %>
  </tr>
<% d = d + 1.week %>
<% end %>
</table>
