<div class ="outline">
<div class = "pagebody">
  
  <!--ページの右-->
  <div class = "pagebodymain">

    <section class = "column">
      <h1>
        掲示板
      </h1>
      <%= link_to 'Add New', new_post_path%>
      <div class = "box_scrollbar">

      <p>
        <ul>
          <% @posts.each do |post| %>
          <li>
            <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
            <br>
            <font size = "5"><%= link_to post.title, post_path(post) %></font>
          </li>
            <% end %>
        </ul>
      </p>
    </div>
      <h1>
        募集
        <br></br>
        <br></br>



        aaaaa
      </h1>
    </section>
  </div>
  <!--ページの左-->
  <div class = "pagebodysub">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class: 'logout'%>
    <!--プロフィール-->
  <div class = "profile">
    <h1>
      profile
    </h1>
      <%= link_to image_tag('apio.png', class: 'apio') %>
      <%= link_to image_tag('edit_b.jpg', class: 'edit_b'), edit_user_registration_path %>
  </div>
    <!--カレンダー-->
  <br></br>
  <br></br>
  <br></br>
  <% today = Date.today%>
  <div class = "calender">
    <table align="center">
      <caption><%= link_to "#{today.strftime('%Y年%m月')}", "events/calender/0"%></caption>
        <tr>
          <th width="30" height="20"><font color="red">日</font></th>
          <th width="30" height="20">月</th>
          <th width="30" height="20">火</th>
          <th width="30" height="20">水</th>
          <th width="30" height="20">木</th>
          <th width="30" height="20">金</th>
          <th width="30" height="20"><font color="blue">土</font></th>
        </tr>
        <tr>
          <% month = today.strftime('%m')%>
          <% d = today.at_beginning_of_month.at_beginning_of_week(:sunday)%>
          <% 1.upto(5).each do|i|%>
          <tr>
            <% (d..d.end_of_week(:sunday)).each do|c|%>
              <th width="20" height="20"><font size="1"><%= (c.strftime('%m') == month)? c.strftime('%d'): "  "%></font>
              <br><font size="1">
                <% end %>
              </br></font></th>
          </tr>
            <% d = d + 1.week %>
            <% end %>
          </table>
        </div>
        <%= link_to 'Add New Event', 'events/new' %>
    </div>
  </div>
</div>
</div>
