<section class = "column">
  <div class = "titleposi">

  <h1><%= @post.title %></h1>
</div>
  <h2><%= simple_format @post.body %></h2>
  <!--最終更新：<%= time_ago_in_words(@post.created_at) %>
  <br>
  -->
  作成：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %> Created at <%= link_to @post.username, "/users/#{@post.user_id}" ,class: "linkline"%>
  <br>
  更新：<%= @post.updated_at.strftime('%Y/%m/%d %H:%M') %>

  <% if (@post.user_id == current_user.id) %>
  <%= link_to '[編集]', edit_post_path(@post), class: 'command' ,class: "linkline"%>
  <%= link_to '[削除]',
  post_path(@post),
  method: :delete,
  class: 'command',
    data: { confirm: 'Sure?' },
    class:"linkline"
  %>
  <% end %>

  <!-- コメントの表示 -->
  <h3>Comments</h3>
  <% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
    <li>
      <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %> Created at <%= link_to comment.username, "/users/#{comment.user_id}" %>
      <br>
      内容：<%= comment.body %>
      <%= link_to 'del',
        post_comment_path(@post, comment),
        method: :delete,
        class: 'command',
        data: { confirm: 'Sure?' } %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <%= form_for ([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.text_field :body, placeholder: 'comment' %>
  </p>
  <p>
    <%= f.submit value = "コメント" %>
  </p>
  <% end %>
</section>
