<!DOCTYPE html>
<html>

<!-- header -->
  <head>
    <title>Club Manager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- body -->
  <body>
<!--edit -->
  <% if current_user.id != -1 then %>
  <% @group = Group.where("id = ?", current_user.state_group_id).first %>
  <% if @group != nil then %>
  <p align="right">「<%= @group.name %>」にログイン中　</p>
  <% else %>
  <% end %>
  <% end %>
<!--edit-->
    <!-- header -->
    <%= render "posts/header"%>

    <div class = "outline">
      <div class = "pagebody">
        <!-- main -->
        <% if (current_user != nil)%>
        <div class = "pagebodymain">
          <!--<section class = "column">-->
        <%= yield %>
      <!--</section>-->
      </div>

        <!-- bodysub -->
        <div class = "pagebodysub">

          <%= render "posts/profile"%>
          <%= render "posts/calendar"%>
          <%= render "posts/member"%>
        </div>
        <%else%>
        <%= yield %>
        <% end %>
        <!-- footer -->
        <%= render "posts/footer"%>
      </div>
    </div>
  </body>

</html>
