<!DOCTYPE html>
<html>

<!-- header -->
  <head>
    <title>Club Manager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- body -->
  <body>
    <!-- header -->
    <%= render "posts/header"%>

    <div class = "outline">
      <div class = "pagebody">
        <!-- main -->
        <%= yield %>

        <% if (current_user != nil)%>
        <!-- bodysub -->
        <div class = "pagebodysub">
          <%= render "posts/profile"%>
          <%= render "posts/calendar"%>
        </div>
        <% end %>
        <!-- footer -->
        <%= render "posts/footer"%>
      </div>
    </div>
  </body>

</html>
