<!DOCTYPE html>
<html>

<!-- header -->
  <head>
    <title>Club Manager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- body -->
  <body>
    <!-- header -->
    <%= render "posts/header"%>
    <div class = "outline">
    <!-- main -->
    <%= yield %>
    </div>
    <!-- footer -->
    <%= render "posts/footer"%>
  </body>

</html>
