<section class = "column">
<% @group = Group.where("id = ?", params[:id]).first %>
<div class = "titleposi">
<h1><%= @group.name%></h1>
</div>
<%= form_for Group.new do |f| %>
<p>
  <%= f.text_field :name, :value => "#{@group.name}" %></br>
  <% if flash[:name_error] %>
  <font color="red"><%= flash[:name_error]%></font>
  <% end %>
</p>
<p><%= f.text_area :about, :value => "#{@group.about}" %></p>
<%= f.hidden_field :group_id, :value => @group.id%>
<p><%= f.submit :value => "保存" %></p>
<% end %>

<h3>「<%= @group.name %>」への参加申請者</h3>
<ul>
  <% @member = Member.where("group_id = ?", params[:id]).where("p = ?", 0) %>
  <% @member.each do |f| %>
  <li style = list-style:circle>
    <%= link_to f.user_name, "/users/#{f.user_id}", class: "linkline" %>
    <%= link_to "[承認]", "/members/permit/#{params[:id]}&#{f.id}", data:{confirm: "「#{f.user_name}」さんの申請を承認しますか?"} ,class: "linkline"%>
    <%= link_to "[拒否]", "/members/delete/#{params[:id]}&#{f.id}", data:{confirm: "「#{f.user_name}」さんの申請を拒否しますか?"} ,class: "linkline"%>
  </li>
  <% end %>
</ul>

<br/><br/><br/>
<h4 align = "center"><%= link_to "この団体を削除する", "/groups/delete/#{@group.id}", data:{:confirm => "「#{@group.name}」を削除しますか?"},class: "cross_line" %></h4>
</section>
