<section class="column">
<div class = "titleposi">
<h1> Edit Profile </h1>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <h3>プロフィール画像:</h3>
  <% if @user.image? %>
    <div class="thumbnail">
      <%= image_tag @user.image.url %>
    </div>
  <% else %>
  <%= link_to image_tag('apio.png', :size => '100x100') %>
  <% end %>

  </p>
  <div class="field">
  <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :username %><i>(1~20文字)</i><br />
    <%= f.text_field :username, autofocus: true %>
  </div>
    <%= f.label :sex %><br />
    <%= f.select :sex, [["選択して下さい", ""],["男","男"],["女","女"],["その他","その他"]]%><br />
    <%= f.label :birthday %><br/>
    <%= f.select :month, [["月",""],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"]] %>

    <%= f.select :day, [["日",""],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"],["13","13"],["14","14"],["15","15"],["16","16"],["17","17"],["18","18"],["19","19"],["20","20"],["21","21"],["22","22"],["23","23"],["24","24"],["25","25"],["26","26"],["27","27"],["28","28"],["29","29"],["30","30"],["31","31"]] %> <br/>
    <%= f.label :age %>
    <%= f.text_field :age %>
    <%= f.label :location %><br/>
    <%= f.text_field :location %>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>

  <br>
  <br>
  <br>

  <div class="field">
    <%= f.label :password %><i>の変更</i>
    <em>(<%= @minimum_password_length %>文字以上)</em><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :current_password %> <i>(編集を更新する場合は入力して下さい)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "編集の更新" %>
  </div>
<% end %>

<h3>アカウントの削除</h3>
<% @g = Group.where("master_id = ?", current_user.id).first %>
<% if  @g == nil %>
  <p>一度削除したアカウントは復元することができません <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除します。本当によろしいですか？" }, method: :delete %></p>
<%else%>
  <p>アカウントを削除するには管理団体を全て削除して下さい</p>
<%end%>

<br>
<br>

</section>
